# FOR DJANGO
Django==4.0.3
djangorestframework==3.13.1
django-cors-headers==3.11.0
django-filter==22.1
#djangorestframework-simplejwt==5.1.0
#dynaconf==3.1.7
#cffi==1.15.0
#argon2-cffi==20.1.0

# FOR POSTGRES
psycopg2-binary==2.9.3

# FOR ML ALGORITHM
# numpy==1.21.2
# scipy==1.3.2
# scikit-learn==1.1
# pandas==1.3.5
# six==1.16.0